{{>navbar loggedIn=true signedIn=true}}

<section>

    <h2> Edit your profile </h2>

    <div class="profileEdit-failure">
        {{#if error}}
            <p> Uh, oh. Something went wrong. please try again.</p>
        {{/if}}

    </div>

    <form method="POST">

        <label for="fName" class="profile-label">
            <input
                class="input-field"
                type="text"
                name="fName"
                pattern="[A-Za-z]+"
                title="Provide only valid characters."
                value="{{profile.first}}"
                required
                
            />
            <p>First Name</p>
        </label>

        <label for="lName" class="profile-label">
            <input
                class="input-field"
                type="text"
                name="lName"
                pattern="[A-Za-z]+"
                title="Provide only valid characters."
                value="{{profile.last}}"
                required
            />
            <p>Last Name</p>
        </label>

        <label for="email" class="profile-label">
            <input
                class="input-field"
                type="email"
                name="email"
                value="{{profile.email}}"
                required
            />
            <p>Email Address</p>
        </label>

        <label for="password" class="profile-label">
            <input class="input-field" type="password" name="password" />
            <p>Password</p>
        </label>

        <label for="age" class="profile-label">
            <input
                class="input-field"
                type="number"
                name="age"
                value="{{profile.age}}"
            />
            <p>Age</p>
        </label>

        <label for="city" class="profile-label">
            <input
                class="input-field"
                type="text"
                name="city"
                pattern="[A-Za-z\s]+"
                title="Provide only valid characters."
                {{#if profile.city}}
                value="{{profile.city}}"
                {{/if}}
            />
            <p>City</p>
        </label>
        
        <label for="url" class="profile-label">
            <input
                class="input-field"
                type="url"
                name="url"
                {{#if profile.url}}
                value="{{profile.url}}"
                {{/if}}
            />
            <p>Homepage</p>
        </label>

        <button class="submit-button">Update</button>

    </form>

    <a href="/profile/delete" class="singular-login warning"> Delete account </a>

</section>