{{>navbar loggedIn=true signedIn=true}}

<section class="signers-display">

    {{#if city}}

        <h2> Here are the signers from {{city}}. Reach out! </h2>
                <img src="/assets/chrysisScutellaris.jpg" alt="chrysis scutellaris insect" class="form-img signers-account">


    {{else}}
        <h2> Here are your fellow signers. May your bounty be plentiful! </h2>
        <img src="/assets/protaetia_speciosissima.jpg" alt="protaetia speciosissima beetle" class="form-img signers-account">

    {{/if}}



    <div class="signers-container">

        {{#sendResults}}
            {{#if url}}
                <p><a href="{{url}}" target="_blank">{{first}} {{last}}</a>
                    {{#if age}}
                    ({{age}})
                    {{/if}}
                    <a href="/petition/signers/{{city}}" class="city-link"><em>&nbsp;&nbsp;&nbsp;&nbsp;{{city}}</em></a></p>

            {{else}}
                <p>{{first}}
                    {{last}}
                    {{#if age}}
                    ({{age}})
                    {{/if}}
                    
                    <a href="/petition/signers/{{city}}" class="city-link"><em>&nbsp;&nbsp;&nbsp;&nbsp;{{city}}</em></a></p>
                    

            {{/if}}

        {{/sendResults}}

    </div>
</section>