<section>

    <h2> Here are your fellow signers. May your bounty be plentiful! </h2>

    <div class="signers-container">

        {{#sendResults}}
            {{#if url}}
                <p><a href="{{url}}">{{first}} {{last}}</a> {{age}} {{city}}</p>

            {{else}}
                <p>{{first}} {{last}} {{age}} {{city}}</p>

            {{/if}}

        {{/sendResults}}

    </div>
</section>