{{>navbar loggedIn=true signedIn=true}}



<section class="thanks-form">
    <img src="/assets/meadow.jpg" alt="meadow flowers" class="form-img">

    <div class="thanks-info">

    <h2>Thank you for signing, {{userName.first}}! </h2>

    <h2>{{sendResults.first}} {{sendResults.last}} </h2>
    <img src="{{sendResults.signature}}" alt="signature" />

    <a href="/petition/signers" class="petition-signers">
        Click here to see all <span class="count">{{count}}</span> 
        people who signed so far.</a>
    <form method="post">
        <button
            type="submit"
            name="submit_param"
            value="submit_value"
            class="link-button"
        >
            You can delete your signature here.
        </button>
        
    </form>
    </div>

</section>